.sidebar{
    flex:1;
    flex-direction:column;
}
.sidebar__header{
    display: flex;
    justify-content:space-between;

}
h2{
    color:rgb(48, 47, 47);
    text-shadow: black; 
    margin-inline-end: 1400px;
    margin-top: unset;
    width: auto;

}
h3{
    color:rgb(2, 2, 44);
    text-shadow: whitesmoke;
    
}
.dash{
    margin-inline-start: 80px;
}
.report{
    margin-inline-end: 80px;
}
img{
    border-radius: 100%;
    width:40px;
    height:40px;
    outline:1px solid  rgb(99, 131, 73);
    display: inline-block;
}



.sidebar__right{
    position: "absolute;right:80px;";
    justify-content: space-between;
    
}
.sidebar__section{
    justify-content:space-between;
    display:flex;
    background-color:rgb(0, 183, 255);
    flex:1;
   
   
}
